<!-- ADD TODO LIST -->
<div class="container mb-3">
  <form action="/add" method="POST">
    <div class="row d-flex gap-lg-4">
      <div class="col-lg-5 py-2">
        <input type="text" class="form-control" name="task" placeholder="Add task.." aria-label="Add task.." required>
      </div>
      <div class="col-lg-5 py-2">
        <input type="date" class="form-control" name="dueTo" placeholder="Add due" aria-label="Add due" required>
      </div>
      <div class="col py-2 text-lg-end text-sm-center">
        <button class="btn btn-outline-secondary rounded-pill" type="submit" value="Submit" id="button-addon1">
          Add task
        </button>
      </div>
    </div>
  </form>
</div>
<!-- END OF ADD TODO LIST -->