<% if (locals.tasksList) { %>
  <% tasksList.forEach((t,i)=> { i += 2%>
    <div class="container">
      <div class="modal fade" id="edit-modal-<%=i%>" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Update Form -->
              <form action="/update" method="POST">
                <input type="hidden" name="oldTask" value="<%= t.task %>">
                <div class="row ">
                  <div class="col-lg-9 py-2">
                    <input type="text" class="form-control" name="task" value="<%= t.task %>">
                  </div>
                  <div class="col-lg-9 py-2">
                    <input type="date" class="form-control" name="dueTo" value="<%= t.dueTo %>">
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-info rounded-pill">Save changes</button>
            </div>
            </form>
            <!-- End of Update Form -->
          </div>
        </div>
      </div>
    </div>
    <% }) %>
      <% } %>