<%- include('partials/header.ejs') %>

  <!-- CONTENT -->

  <!-- Task List -->
  <div class="container ps-4">
    <div class="row">
      <% if (locals.datas) { %>
        <ul class="list-group list-group-horizontal">
          <% for( let i=0; i < datas.length; i++ ) { %>
            <li class="list-group-item col-lg-5 col-sm-5 ">
              <%= datas.taskList[i] %>
            </li>
            <li class="list-group-item col-lg-5 col-sm-5 ">
              <%= datas.dateList[i] %>
            </li>
            <li class="list-group-item col-lg-2 col-sm-2 ">Status</li>
            <li class="list-group-item col-lg-2 col-sm-2 ">Actions</li>
            <% } %>
        </ul>
        <% } %>
    </div>
  </div>
  <!-- End Of Task List -->

  <!-- END OF CONTENT -->
  <%- include('partials/footer.ejs') %>